$tw-color-gradiant-up: #c97618;
$tw-color-gradiant-down: #e79f44;

$dw-color-gradiant-up: #8d312b;
$dw-color-gradiant-down: #c96057;

$dl-color-gradiant-up: #085b9d;
$dl-color-gradiant-down: #138dd0;

$tl-color-gradiant-up: #42722f;
$tl-color-gradiant-down: #7bb460;

$ct-color-gradiant-up: #392b44;
$ct-color-gradiant-down: #745b88;

$filled-color-gradiant-up : #f3d262;
$filled-color-gradiant-down : #f0b73b;

$tile-num: 11;
$tile-size: 50px;
$tile-color: #e6ebef;
$tile-color-gradiant-up: #8fa0b3;
$tile-color-gradiant-down: #e6ebef;
$tile-border-color: #d5dfea;
$tile-border-width: 2px;
$tile-font: bold 70%/1.5 "Open Sans", sans-serif;
$decal-font-color: rgba(0,0,0,.6);


$bg-color: #282828;
$board-color: #d5dfea;
$board-border-color: black;
$board-size: $tile-size * $tile-num;
$board-border-width: round($board-size/80);

$row-height-adj: $tile-size + $tile-border-width * 2;
$board-size-adj: $board-size + $tile-border-width * ($tile-num * 2 + 1);

@mixin coloredSquare($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
}

@mixin gradiantSquare($size, $color-gradiant-up, $color-gradiant-down) {
  width: $size;
  height: $size;
  background: linear-gradient($color-gradiant-up, 15%, $color-gradiant-down, 95%, $color-gradiant-up);
}

@mixin tripleBorder($color) {
  background: linear-gradient(-45deg, transparent 50%, $color 0),
  linear-gradient(45deg, transparent 50%, $color 0),
  linear-gradient(-135deg, transparent 50%, $color 0),
  linear-gradient(135deg, transparent 50%, $color 0);
  background-repeat: repeat-x;
  background-position: 25% calc(100% + #{$tile-border-width}), 25% calc(100% + #{$tile-border-width}), 25% -#{$tile-border-width}, 25% -#{$tile-border-width};
  background-size: (100% / 3) ($tile-border-width * 6);
  width: 78%;
  left: 11%;
}

@mixin doubleBorder($color) {
  background: linear-gradient(-45deg, transparent 50%, $color 0),
  linear-gradient(45deg, transparent 50%, $color 0),
  linear-gradient(-135deg, transparent 50%, $color 0),
  linear-gradient(135deg, transparent 50%, $color 0);
  background-repeat: repeat-x;
  background-position: 50% calc(100% + #{$tile-border-width}), 50% calc(100% + #{$tile-border-width}), 50% -#{$tile-border-width}, 50% -#{$tile-border-width};
  background-size: (100% / 2) ($tile-border-width * 6);
  width: 52%;
  left: 24%;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}
body {
  height: 100vh;
  background: $bg-color;
}

#js-board {
  @include coloredSquare($board-size-adj, $board-color);
  min-width: $board-size-adj;
  min-height: $board-size-adj;
  border: outset $board-border-color $board-border-width;
  margin: 40px auto;

  .board {
    background-color: $tile-border-color;
    padding: $tile-border-width / 2;

    .row {
      height: $row-height-adj;

      .tile {
        @include gradiantSquare($tile-size, $tile-color-gradiant-up, $tile-color-gradiant-down);
        box-shadow: inset 2px 2px 2px $tile-color-gradiant-up;
        border: solid $tile-border-color $tile-border-width;
        display: inline-block;
        font: $tile-font;
        color: $decal-font-color;
        border-radius: $tile-size * 20 / 100;

        &::after {
          @include coloredSquare(33%, transparent);
          content: '0';
          content: attr(data-value);
          position: absolute;
          bottom: 2px;
          right: 3px;
          font-size: 70%;
          line-height: 140%;
          text-align: right;
          z-index: 999;
        }

        &.tile-ct {
          background: linear-gradient($ct-color-gradiant-up, 15%, $ct-color-gradiant-down, 95%, $ct-color-gradiant-up);
          .decal::before {
            content: '\2605';
            font-size: 150%;
          }
        }

        &.tile-dl, &.tile-dw, &.tile-tw, &.tile-tl {
          .decal {
            &::before, &::after {
              content: '';
              position: absolute;
              top: -$tile-border-width * 2;
              height: calc(100% + #{$tile-border-width} * 4);
              z-index: 999;
              transform: scaleX(0.7);
            }
            &::after {
              transform: scaleY(0.7) rotate(90deg);
            }
          }
        }

        &.tile-dl {
          box-shadow: inset 2px 2px 2px $dl-color-gradiant-up;
          background: linear-gradient($dl-color-gradiant-up, 15%, $dl-color-gradiant-down, 95%, $dl-color-gradiant-up);
        }
        &.tile-dw {
          box-shadow: inset 2px 2px 2px $dw-color-gradiant-up;
          background: linear-gradient($dw-color-gradiant-up, 15%, $dw-color-gradiant-down, 95%, $dw-color-gradiant-up);
        }
        &.tile-tw {
          box-shadow: inset 2px 2px 2px $tw-color-gradiant-up;
          background: linear-gradient($tw-color-gradiant-up, 15%, $tw-color-gradiant-down, 95%, $tw-color-gradiant-up);
        }
        &.tile-tl {
          box-shadow: inset 2px 2px 2px $tl-color-gradiant-up;
          background: linear-gradient($tl-color-gradiant-up, 15%, $tl-color-gradiant-down, 95%, $tl-color-gradiant-up);
        }

        .decal {
          @include coloredSquare(100%, transparent);
          position: absolute;
          text-align: center;
          line-height: $tile-size;
          text-transform: uppercase;
          border-radius: 12%;
          overflow: visible;
          cursor: pointer;
          font-size: 135%;
          font-weight: bold;
        }

        input {
          @extend .decal;
          font-size: 150%;
          text-align: left;
          text-indent: 25%;
          z-index: 999;
          color: transparent;
          &:focus {
            background: repeating-linear-gradient(45deg, rgba(0,0,0,.1),
                    rgba(0,0,0,.1) 10px, rgba(0,0,0,0) 10px, rgba(0,0,0,0) 20px);
          }
          &.filled {
            box-shadow: inset 2px 2px 2px #ee972c;
            background: linear-gradient($filled-color-gradiant-up, 20%, $filled-color-gradiant-down);
            text-shadow: 0px -1px 0px $decal-font-color;
          }
        }
      }
    }
  }
}